.App {
  text-align: center;
  display: flex;
}

.Leftpane {
  width: 20vw;
  height: 100vh;
  background-color: rgb(203, 181, 181);
}

.Rightpane {
  width: 80vw;
  height: 100vh;
  /* background-color: rgb(86, 18, 134); */
}

.buttondiv {
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px 5px 10px;
}

.buttonGroup {
  border: 4px solid rgb(95, 95, 47);
}